<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.huige.huigercode"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        tools:replace="android:icon, android:label,android:theme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LikeActivity">
        </activity>
        <activity android:name=".TabViewActivity">
        </activity>
        <activity android:name=".LoadingViewActivity">
        </activity>
        <activity android:name=".PageActivity">
        </activity>
        <activity android:name=".TestLimitActivity">
        </activity>
        <activity android:name=".TestKeyBoardActivity">
        </activity>

        <!-- baidu sdk START -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="aO2Tauipc7qYuYKAxMDA4s8udXBn5riv">
        </meta-data>
        <!-- baidu sdk END -->

        <activity android:name=".CustomViewActivity">
        </activity>
    </application>

</manifest>